.Img {
    height: 200px;
    width: 200px;
}

.Img:hover{
    border-radius:50%;
    transform: rotate(360deg);
    transition: all 2s;
    }

.Game {
    background-color: whitesmoke;
    margin-left: 50px;
    margin-right: 50px;
    border-color: blueviolet;
    border-style: double;
    padding-bottom: 15px;
}

.Button {
    margin-top: 20px;
}

.Button:hover {
    background-color:red;
    transform: none;
    transition: 0.3s;
    color: white;

}
